@font-face {
    font-family: 'MiSans';
    src: url('../assets/fonts/MiSans-Regular.otf') format('opentype'),
        local('MiSans Regular'),
        local('MiSans-Regular'),
        local('MiSans');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MiSans';
    src: url('../assets/fonts/MiSans-Light.otf') format('opentype'),
        local('MiSans Light'),
        local('MiSans-Light'),
        local('MiSans');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
